
.App {
  text-align: center;
  background-color: black;
  color: white;
  /* position: relative; */
}

.NavBar{
  position: fixed;
  top: 0;
  /* left: 50%; */
  width: 100%;
  /* text-align: center; */
  background-color: rgba(0, 0, 0, 0.582);
  height: 10vh;
  /* margin-bottom: 0; */
}

.NavBarHeadings{
  margin-bottom: 12px;
}

.PageLinksContainer{
  /* position: fixed; */
  /* margin-top: 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.582);
  width: 100%;

  
}

.PageLinks{
  text-decoration: none;
  color: white;
  margin: 1vmin;
  border: 2px solid white;
}

.Footer{
  /* background-color: rgba(0, 0, 0, 0.425); */
  height: 10vh;

}

.Home{
  /* position: absolute; */
  background-image: url('../Assets/a5wtgpaazfm91.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed ;
  background-size: cover;
  height: 100vh;
}


.Forum{
  background-image: url('../Assets/STScI-01G3HA1WWQ0B7VBRV531E7HRAWFlipped.png');
  background-repeat: no-repeat;
  background-attachment:fixed ;
  background-size:cover;
  height: 100vh;
}














/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
